.whatsapp{
    height: auto;
    padding: 0;
    margin: 0;
    background-color: rgb(214, 214, 214);
  
}

.head{
    height: 30vh;
}
.whatsapp-details{
    position: relative;
    bottom: 13rem;
    
}
.alignment{
    display: flex;
    justify-content: center;
}

.whatsapp-content{
margin-left: 1.4rem;
   margin-top: 1.5rem;
  
}

.img{
    display: flex;
}
.img p{
    color: #fff;
    margin-top: 15px;
    padding-left: 16px;
}
.img img{
    width: 45px;

}
/* .alignment{
    width: 80%;
    align-items: center;
    display: flex;
    justify-content: center;
} */
.inner-section{
    box-shadow: 5px 10px 18px #888888;
}

.inner-section, .inner-section-2{
   
    top: 4rem;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    padding: 4rem 0;
}

.heading{
    font-size: 30px;
    font-weight: 100;
    padding-left: 1rem;
}
   

.options{
    margin: 3rem 0;

}
.options li{
    padding: 7px 0;
    font-size: 17px;
}
.link{
    padding-left: 1.5rem;
    font-size: 15px;
   
}
.link p{
    color:   #00a884;
    margin-left: 1rem;
}
.inner-section-2{
   
    background-color:  #fff5f8;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
/* .shadow{
    box-shadow: 5px 10px 18px #888888;
    top: 4.5rem;
    padding: 4rem 0;
} */

/* .shadow{
    box-shadow: 5px 10px 18px #914343;
    top: 4.5rem;
  
    
} */
/* .video-section{
    left: 5.5rem;
    background-color: antiquewhite;
   
} */